body {
    /* background-image: url("images/logo_favicon.jpeg"); */
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    padding: 0px;
    
}

.heading {
    text-align :center;
    padding: 30px;
    /* background-color: #aa1919; */
    color:white;
    /*background: url('img1.jpg') -100px 300px no-repeat, url('img2.jpg') 1165px 300px no-repeat;*/
    background: url("../images/logo_favicon-removebg.png") no-repeat right top,  url("../images/logo_favicon-removebg.png") no-repeat left top, #aa1919;
    /* background-repeat: no-repeat;*/
    background-size: 150px 150px ; 
   
    /* background-position: left; */
    font-family: 'Style Script', cursive;
}


.active {
    background-color: rgb(192, 85, 85);
}
.nav {
    width: 100%;
}
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#aa1919 ;
}
.nav li {
    float: left;
}
.nav a{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 16px;
}

.nav li a:hover {
    background-color: rgb(192, 85, 85);
}



.footer{
    background-color: #aa1919;
    color:white;
    padding: 2px 20px;
    position: fixed;
    bottom: 0px;
    left:0px;
    width: 100%;

    
}
/********* about page style goes from here ************/

.mainabout {

    width: 70%;
    margin: auto;

}
#aboutpara {
    font-size: 17px;
    text-indent: 25px;
    justify-content: center;
}




/***** this section is for menu tab**************/

.mainmenu{
    width: 100%;
    
    /* border: 2px solid black; */
    background-color: #aa1919;
}

.mainmenu h2{
    box-sizing: border-box;
    color:white;
    /* font-size: ; */
    text-align: center;
    padding: 10px;
    border: 2px solid yellow;
    /* background-color: yellow; */


}

.submenu {
    width: 70%;
    border: 1px solid white;
    margin-left: auto;
    margin-right: auto;
    color:white;
}

.menu{
    
    background-color: #aa1919;
    margin: 0px;
}

.menu img {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 20px groove #aa1919;


    
 
}


/****  contact us *****/

/* table, td, th {
    border: 1px solid black;
} */
#contactus {
    margin: auto;
    font-size: 20px;
}

#contactbox{
    border: 2px solid black;
    width: 40%;
    margin: auto;
    box-sizing: border-box;
    
}

#contactheader{
    background-color: #aa1919;
    padding: 9px;
    text-align: center;
    color:white;
    font-size: 22px;
}

#form{
    height: 250px;
    text-align: center;
}

.ipgrp {
    display: block;
    margin: 5px auto;
    padding: 3px;
    width: 50%;
}
#whatsapplink {
    text-decoration: none;
    display: inline-block;
    position: fixed;
    right: 15px;
    bottom: 75px;
    padding: 10px;
    background-color:green;
    color:white
}

#whatsapplink a:hover {
    background-color: blue;
}